<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Конструктор исковых заявлений в СОЮ</title>
    <link href="../../Content/style.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("Admin", "AdminAuth", "Home")</li>
                    @if (Session["admin"] == "Consult_check2020")
                    {
                     <li>@Html.ActionLink("Выйти", "AdminOut", "Home")</li>
                    }
                    </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (Session["Admin"] != null && Session["Admin"] == "Consult_check2020")
        {
            @RenderBody()
        }
        else
        {

           // <h1>Проблема с доступом</h1>
            @RenderBody();
            <script>
                window.location.href = "@Url.Action("AdminAuth","Home")";
            </script>
        }

        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
