@model global::Directory.Models.Question

@{
    Layout = "~/Views/Shared/AdminCheck.cshtml";
}

<h2>Подтверждение удаления вопроса</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Text, "Текст вопроса")
    <br />
    @Html.DisplayFor(model => model.Text)
    <br />
    <br />

    if (Model.Tip != null)
    {
        @Html.LabelFor(model => model.Tip, "Всплывающая подсказка")
        <br />
        @Html.DisplayFor(model => model.Tip)
        <br />
        <br />
    }

    @Html.LabelFor(model => model.TypeInput, "Одиночный/множественный выбор")
    <br />
    @Html.DisplayFor(model => model.TypeInput)
    <br />
    <br />

    <input type="submit" value="Удалить" />
}

